
html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

.dark-mode .card, .dark-mode .footer {
    background-color: #444;
}

.dark-mode .card {
    border: 1px solid #666;
}

.dark-mode .footer a {
    color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.profile div {
    flex-grow: 1;
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 20px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill {
    background: #007bff;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    flex: 1 1 120px;
    text-align: center;
}

.buttons .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.buttons .btn:hover {
    background: #0056b3;
}

footer {
    text-align: center;
    padding: 20px;
    background: #007bff;
    color: #fff;
}

.footer a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}

.dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    transition: background 0.3s;
}

.dark-mode-toggle:hover {
    background: #0056b3;
}

.certificates {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.certificate {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    flex: 1 1 calc(33.333% - 20px);
    margin-bottom: 20px;
    position: relative;
}

.certificate iframe {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 4px;
}

.certificate h3 {
    margin: 10px 0;
}

@media (max-width: 768px) {
    .certificate {
    flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .certificate {
    flex: 1 1 100%;
    }
}
